<!DOCTYPE html>
<html lang="en">
<head>
    <title>SilentNOiiise</title>
</head>
<body>
    <div>
    <center>
        <h1> SilentNOiiise</h1>
    </center>
    </div>
    <div>
        <center>
    <h2> ¿Qué es?</h2>
    </center>
    <br>
    <center>
    <p>
        SilentNOiiise es un proyecto enfocado a la creación de soluciones a la necesidad de 
        distribución sonora, esto priorizando la disminución de la contaminación acústica.
        
Para entender mejor la solución a tal situación, hay que entender primero la problemática.
La intensidad del sonido se mide a través de decibeles (dB) la cual es una medida que
 expresa la relación entre dos valores de presión sonora; en ciertas ocasiones como fiestas y 
 demás encuentros sociales, se puede llegar a un exceso en los niveles máximos de decibeles.
“La exposición de las personas a altos niveles de ruido está directamente asociada a la pérdida 
de la audición, a la
 alteración de la salud,  de la tranquilidad y bienestar, provocando
  estados de estrés, pérdida del sueño, ansiedad, depresión y cambios en el comportamiento,
   llegando a conductas agresivas y baja productividad.” 
Señala Fernando Ramírez Campos el  Subdirector de Enfermedades No Transmisibles del
 Ministerio de Salud y Protección Social. 
No obstante la transmisión de sonido a altos niveles de decibeles a veces se hace necesario
 a la hora de realizar actividades informativas, de difusión u ocio.
 
Por lo cual SilentNOiiise nace como solución a la necesidad de transmitir información sonora
 a grandes multitudes, teniendo como  precedente  las muchas problemáticas que acarrea
  el exceso de decibeles, y  la necesidad de transmitir información sonora a grandes
   multitudes.
   
Esto se hace mediante un conjunto de apartados los cuales le permiten a un usuario
 registrarse en la página de SilentNOiiise  y desde ahí descargar el archivo multimedia que
  desea transmitir; a  su vez este archivo puede ser transmitido de un dispositivo a otro 
  mediante  el uso de nuestra aplicación SilentNOiiise, la cual le permite leer al usuario un
   código QR con el cual puede ingresar al canal de transmisión multimedia y escuchar el audio
    transmitido desde su dispositivo.

    </p>
        </center>

    </div>
    <div>
        <center>
        <h2>¿Como se está tratando esta problemática en base a SilentNOiiise?</h2>
        </center>
    
        <p >
            <center>
                SilentNOiiise funciona en base a tres pilares básicos.
                </center>
                
                <ul>
                    <li>La página web. </li>
                    <li>La aplicación móvil. </li>
                    <li>La transmisión de datos.</li>
                </ul>
            
        </p>
 
    </div>
    <div>
        <center>
       <h3>1.La página web:</h3> 
       </center>

       <p>
           <center>
            SilentNOiiise cuenta con un servidor web informativa la cual les permite a los usuarios
             conocer más acerca del proyecto, de la solución que brinda el mismo y de las fases de la misma. 
            Por otra parte el proyecto cuenta con una página web que funge funciones administrativas.
            <br>
            </center>
            <ul>
                <li> Desde la página se genera un código QR el cual a su vez genera una URL con un
                     Token necesario  para descargar el archivo multimedia que se desee trasmitir y
                      el Token necesario para acceder a la trasmisión de audio.</li>
<br>
                <li>La página permite que el usuario que está trasmitiendo el archivo multimedia 
                    pueda interactuar con el mismo, para pausarlo, retroceder, adelantar, quitarlo
                     y sincronizarlo con los demás dispositivos de resección</li>

            </ul>

            
           
       </p>
    </div>
    <div>
        <center>
            <h2>2.La aplicación móvil:</h2> 
            <br>
            <p >La aplicación de SilentNOiiise nos permite:</p>
        </center>
        <ul>
            <li> Descargar archivos multimedia desde la página oficial de SilentNOiiise, para 
                luego transmitirlos a los dispositivos aledaños, dándonos  acceso a la transmisión
                 de contenido multimedia y las diferentes acciones que podemos realizar sobre el mismo.
            </li><br>
            <li>La aplicación móvil nos permite leer un código QR con el cual podremos acceder 
                al canal de transmisión de archivos multimedia específico para ese código, lo que 
                nos permite recibir y reproducir archivos multimedia desde nuestro dispositivo,
                 estos archivos siendo controlados por el distribuidor de los mismos.</li>

        </ul>

    </div>
    <div>
        <center>
        <h2>3.La transmisión de datos:</h2>
        </center>
        <p>
Este es el pilar fundamental de SilentNOiise, ya que es el que permite todo el funcionamiento del proyecto.
La trasmisión de datos funciona como ya lo hemos mencionado anteriormente, mediante un archivo multimedia que descarga el usuario desde nuestra web oficial.
Este archivo es descargado por una persona que funge como servidor, el cual transmite el contenido multimedia a los demás usuarios mediante una red local; lo que permite que los usuarios no tengan que descargar el archivo multimedia, simplemente tengan que recibirlo mediante un canal especifico de trasmisión dado por el código QR.

        </p>

    </div>
    <div>
        <center>
            <h2>Referentes</h2>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HQKJnrFpn88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/zQUTxirnl4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/cUxSWzx7SrA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </center>


    </div>



    
</body>
</html>